.hero {
	text-align: center;
    font-weight: 100;
}
.intro {
	position: relative;
    text-align: center;
}
.intro .slide p{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}
.intro .slide.inactive {
	opacity: 0;
    animation: show 3s ease infinite;
}
.intro .slide.active {
	opacity: 1;
    animation: hide 5s ease infinite;
}
@keyframes show{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes hide{
    from{opacity: 1;}
    to{opacity: 0;}
}

