body{
    background-color: radial-gradient(lightgray, gray , darkgray);
    background-color: -webkit-radial-gradient(lightgray, gray , darkgray);
    background-color: -moz-radial-gradient(lightgray, gray , darkgray);
}
#something {
	width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
    border: 4px solid black;
    margin: 100px 0 0 80px;
}
p,h3{margin: 0; padding: 0;}
p{height: 150px; width: 200px; border: 1px solid black;}
h3{height: 50px; width: 200px; background-color: blue; color: #fff; border:1px solid black;}

#slide-nav-wrapper {
    display: none;
   height: auto;
    width: 400px;
    background-color: red;
	position: absolute;
    margin-left: -100px;
    /*top: 0;
    left: 0;*/
}
h5{
    cursor: pointer;
}
#kto {
    color: #fff;
	height: 150px;
    width: 300px;
    background-color: red;
}
