body{
    padding: 0;
    margin: 0;
    height: auto;
    background-color: radial-gradient(lightgray, gray , darkgray);
    background-color: -webkit-radial-gradient(lightgray, gray , darkgray);
    background-color: -moz-radial-gradient(lightgray, gray , darkgray);
}
#something {
	width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
    border: 4px solid black;
    margin: 100px 0 0 80px;
}
p,h3{margin: 0; padding: 0;}
p{height: 150px; width: 200px; border: 1px solid black;}
h3{height: 50px; width: 200px; background-color: blue; color: #fff; border:1px solid black;}

#slide-nav-wrapper {

    height: auto;
    /*display: none;*/
   height: ;
    width: 100%;
    background-color: rgba(5,4,2,0.1);
	/*position: absolute;*/
    margin-top: 20px;
    top: 0;
    left: 0;
}

h5{
    text-align: center;
    cursor: pointer;
}
ul li{

    display: inline-block;
    padding-left: 5%;
    z-index: 1;
}
/*css3transitions*/
div{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: brown;
    animation: pulse 1s ease infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1);
    }
}
