body{
    padding: 0;
    margin: 0;
    height: auto;
    background-color: radial-gradient(lightgray, gray , darkgray);
    background-color: -webkit-radial-gradient(lightgray, gray , darkgray);
    background-color: -moz-radial-gradient(lightgray, gray , darkgray);
}
#something {
	width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
    border: 4px solid black;
    margin: 100px 0 0 80px;
}
p,h3{margin: 0; padding: 0;}
p{height: 150px; width: 200px; border: 1px solid black;}
h3{height: 50px; width: 200px; background-color: blue; color: #fff; border:1px solid black;}

#slide-nav-wrapper {

    height: auto;
    /*display: none;*/
   height: ;
    width: 100%;
    background-color: rgba(5,4,2,0.1);
	/*position: absolute;*/
    margin-top: 20px;
    top: 0;
    left: 0;
}

h5{
    text-align: center;
    cursor: pointer;
}
ul li{

    display: inline-block;
    padding-left: 5%;
    z-index: 1;
}
/*css3transitions*/
.zero{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: brown;

    animation: pulse 5s ease infinite;
    animation-delay: 3s;
}
@keyframes pulse{
    0%{
        top: 0px;
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: rotateY(38deg)
        top:40px ;
        opacity: 0.8;
        transform: scale(1)
    }
    100%{
        top:-40px ;
        opacity: 1;
        transform: scale(1);
    }
}
.one{
    width:400px ;
    height: 200px;

}
.card {

    margin-top: 200px;
	position: relative;
    float: left;
    padding-bottom: 25%;
    width: 50%;
    text-align: center;
}
.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__front,
.card__back {
	-webkit-backface-visibility:hidden;
    backface-visibility: hidden;
    -webkit-transition:-webkit-transform 0.3s;
    transition: transform 0.3s;
}
.card__front {
	background-color: #ff5078;
}
.card__back {
	background-color: #1e1e1e;
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}
.card.effect__hover:hover .card__front {
	-webkit-transform: rotateY(-180deg);
    transform: rotateY(-180)
}
.card.effect__hover:hover .card__back {
    -webkit-transform:rotateY(0);
    transform: rotateY(0);
}
.perspective--none {
	perspective: ;
}
.perspective-container {
	background-color: #eee;
}
.surface {
	display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgb(55,124,255);
    font-size: 18px;
    line-height: 200px;
    transition: transform 1s;
}
.perspective--400 {
	perspective: 600px;
}
.surface:hover {
    transform: rotateY(180deg);

}
